
.flex__center {
    display: flex;
    align-items: center;
}

.affiliater__coin__icon {
    width: 13px;
    margin-right: 5px;
}

.affiliater__list__num {
    font-weight: normal;
    margin-left: 2px;
}

.affiliater__color__orange {
  color: $colorOrange;
}