.p-passwordResetSend {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-passwordResetSend__title__wrap {
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-passwordResetSend__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-passwordResetSend__contents {
    padding: 21px 16px 0;
}
.p-passwordResetSend__heading {
    @extend .u-fs-14;
    font-weight: 600;
}
.p-passwordResetSend__text {
    @extend .u-fs-12;
    margin-top: 10px;
}
