.p-passwordResetInput {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-passwordResetInput__title__wrap {
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-passwordResetInput__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-passwordResetInput__contents {
    padding: 21px 16px 0;
}
.p-passwordResetInput__text {
    @extend .u-fs-12;
}
.p-passwordResetInput__form {
    margin-top: 18px;
}
.p-passwordResetInput__form__input__wrap {
    &:not(:first-child) {
        margin-top: 7px;
    }
}
.p-passwordResetInput__form__label {
    @extend .u-fs-11;
    color: $colorGray;
}
.p-passwordResetInput__form__input {
    @extend .u-fs-14;
    width: 100%;
    margin-top: 2px;
    padding: 8px 12px;
    border: 1px solid $colorBorder;
    border-radius: 2px;
    background-color: $colorWhite;
}
.p-passwordResetInput__form__note {
    @extend .u-fs-10;
    margin-top: 3px;
    color: $colorThinGray;
}
.p-passwordResetInput__btn {
    margin-top: 12px;
}
