.p-requestPasswordReset {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-requestPasswordReset__title__wrap{
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-requestPasswordReset__title{
    @extend .u-fs-14;
    text-align: center;
}
.p-requestPasswordReset__contents{
    padding: 21px 16px 0;
}
.p-requestPasswordReset__text{
    @extend .u-fs-12;
}
.p-requestPasswordReset__form{
    margin-top: 18px;
}
.p-requestPasswordReset__form__input__wrap{
    &:not(:first-child) {
        margin-top: 7px;
    }
}
.p-requestPasswordReset__form__label{
    @extend .u-fs-11;
    color: $colorGray;
}
.p-requestPasswordReset__form__input{
    @extend .u-fs-14;
    width: 100%;
    margin-top: 2px;
    padding: 8px 12px;
    border: 1px solid $colorBorder;
    border-radius: 2px;
    background-color: $colorWhite;
}
.p-requestPasswordReset__btn{
    margin-top: 12px;
}