.p-resendTokenValidation {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-resendTokenValidation__title__wrap {
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-resendTokenValidation__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-resendTokenValidation__contents {
    padding: 21px 16px 0;
}
.p-resendTokenValidation__text {
    @extend .u-fs-12;
}
.p-resendTokenValidation__form__input__wrap {
    margin-top: 19px;
}
.p-resendTokenValidation__form__label {
    @extend .u-fs-11;
    color: $colorGray;
}
.p-resendTokenValidation__form__input {
    @extend .u-fs-14;
    width: 100%;
    margin-top: 1px;
    padding: 8px 12px;
    border: 1px solid $colorBorder;
    border-radius: 2px;
    background-color: $colorWhite;
}
.p-resendTokenValidation__btn {
    margin-top: 16px;
}
