.p-shopList {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-shopList__title__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-shopList__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-shopList__title__btn {
    position: absolute;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $colorOrange;
    >a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
.p-shopList__title__btn__plus {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 11px;
    border: 1px solid $colorWhite;
    border-radius: 4px;
    &:last-child {
        transform: translate(-50%,-50%) rotate(90deg);
    }
}
.p-shopList__content {
    padding-top: 23px;
}
.p-shopList__text__wrap {
    padding: 0 16px;
}
.p-shopList__btn {
    margin-top: 24px;
}
.p-shopList__text {
    @extend .u-fs-12;
}
.p-shopList__listItem {
    position: relative;
    background-color: $colorWhite;
    &:not(:last-child) {
        border-bottom: 1px solid $colorBorder;
    }
    >a {
        display: inline-block;
        width: 100%;
        padding: 13px 32px 13px 17px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("/img/common/arrow-right.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.p-shopList__heading {
    @extend .u-fs-12;
}
