.p-signUpComfirm {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-signUpComfirm__title__wrap {
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-signUpComfirm__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-signUpComfirm__contents {
    padding: 20px 16px 0;
}
.p-signUpComfirm__item {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    &:not(:first-child) {
        margin-top: 12px;
    }
}
.p-signUpComfirm__item__label {
    @extend .u-fs-11;
    color: $colorGray;
}
.p-signUpComfirm__item__text {
    @extend .u-fs-14;
    margin-top: 3px;
}
.p-signUpComfirm__btn {
    margin-top: 16px;
    &:last-child {
        margin-top: 12px;
    }
}
