.p-stampEdit {
    min-height: calc(100vh - 80px);
    background-color: $colorBg;
}
.p-stampEdit__title__wrap {
    padding: 13px 0;
    background-color: $colorWhite;
}
.p-stampEdit__title {
    @extend .u-fs-14;
    text-align: center;
}
.p-stampEdit__btn {
    margin-top: 20px;
    padding: 0 16px;
}
.p-stampEdit__btn__heading {
    @extend .u-fs-12;
    color: $colorThinGray;
}
.p-stampEdit__btn__wrap {
    border-radius: 10px;
    background-color: $colorWhite;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    &:not(:first-child) {
        margin-top: 9px;
    }
    >a {
        display: inline-block;
        width: 100%;
        padding: 14px 0;
    }
    >button {
        display: inline-block;
        width: 100%;
        padding: 14px 0;
    }
}
.p-stampEdit__btn__text {
    @extend .u-fs-14;
    position: relative;
    text-align: center;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 19px;
        transform: translateY(-50%);
        background-size: cover;
        background-position: center;
    }
}
.p-stampEdit__btn__img--qr {
    &::after {
        width: 28px;
        height: 28px;
        background-image: url("/img/icon/icon_qr-gray.png");
    }
}
.p-stampEdit__btn__img--share {
    &::after {
        width: 28px;
        height: 28px;
        background-image: url("/img/icon/icon_share.png");
    }
}
.p-stampEdit__status__wrap {
    margin-top: 16px;
    padding: 11px 16px;
    background-color: $colorWhite;
}
.p-stampEdit__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
        margin-top: 14px;
    }
}
.p-stampEdit__status__name {
    @extend  .u-fs-11, .u-fw-b;
    color: $colorGray;
}
.p-stampEdit__status__count {
    @extend  .u-fs-16, .u-lh-19;
    color: $colorOrange;
}
.p-stampEdit__heading {
    @extend .u-fs-12;
    margin-top: 16px;
    padding: 0px 16px;
    color: $colorThinGray;
}
.p-stampEdit__contents {
    margin-top: 16px;
    padding: 14px 16px 16px;
    background-color: $colorWhite;
}
.p-stampEdit__count__wrap {
    border-left: 1px solid $colorBorder;
    border-right: 1px solid $colorBorder;
    text-align: center;
}
.p-stampEdit__count__heading {
    @extend .u-fs-11;
    padding-top: 1px;
}
.p-stampEdit__count__number {
    @extend .u-fs-32,.u-lh-38;
    margin-top: 3px;
    color: $colorOrange;
}
.p-stampEdit__select__wrap {
    @extend .u-fs-14;
    position: relative;
    margin-top: 19px;
    border: 1px solid $colorBorder;
    background-color: $colorWhite;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #ccc transparent transparent transparent;
        pointer-events: none;
    }
    select {
        min-width: 133px;
        width: 100%;
        padding: 8px 12px;
    }
}
.p-stampEdit__item {
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
    &:not(:first-child) {
        margin-top: 15px;
    }
    &:last-child {
        padding-bottom: 13px;
    }
}
.p-stampEdit__item__heading {
    @extend .u-fs-11;
    color: $colorGray;
}
.p-stampEdit__item__text {
    @extend .u-fs-14;
    margin-top: 4px;
}
.p-stampEdit__item__colorTile {
    @extend .u-fs-24;
    width: 48px;
    height: 48px;
    padding: 6px 0;
    border-radius: 2px;
    border: 1px solid #eee;
    background-color: $colorWhite;
    text-align: center;
}
.p-stampEdit__form {
    margin-top: 9px;
}
.p-stampEdit__form__input__wrap {
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    &:not(:first-child) {
        margin-top: 12px;
    }
}
.p-stampEdit__form__label {
    @extend .u-fs-11;
    color: $colorGray;
}
.p-stampEdit__form__state__radio__wrap  {
    margin-top: 6px;
}
.p-stampEdit__form__state__radio__label {
    label {
        @extend .u-fs-14;
        position: relative;
        margin-right: 10px;
        padding-left: 26px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 2px solid $colorOrange;
            border-radius: 50%;
        }
        &.is-check{
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $colorOrange;
            }
        }
    }
    &:not(:first-child) {
        margin-left: 28px;
    }
}
.p-stampEdit__form__btn {
    margin-top: 16px;
}
.p-stampEdit__delete__wrap {
    padding: 36px 0 0;
    text-align: center;
}
.p-stampEdit__delete {
    @extend .u-fs-12;
    color: $colorRed;
}
.p-stampEdit__overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, 0.6);
}
.p-stampEdit__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 256px;
    padding: 22px 24px 24px;
    background-color: $colorWhite;
}
.p-stampEdit__modal__heading {
    @extend .u-fs-14;
    font-weight: 600;
}
.p-stampEdit__modal__text {
    @extend .u-fs-12;
    margin-top: 1px;
    color: $colorGray;
}
.p-stampEdit__modal__btn__wrap {
    display: flex;
    margin-top: 13px;
}
.p-stampEdit__modal__btn {
    &:not(:first-child) {
        margin-left: 12px;
    }
}
.p-stampEdit__modal__btn--retry {
    height: 30px;
    margin-top: 11px;
}
.p-stampEdit__modal__close {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    >span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 11px;
        height: 0px;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ccc;
        &:first-child {
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &:last-child {
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }
}
